*checkpoint*.ipynb
my_notes/PyGameofLife/
my_notes/*.jpg
my_notes/*.png
my_notes/*Scratch*
*/Untitled*.ipynb
weekly_lessons/\.*ipynb_checkpoints*
audio/wav/*
__pycache__/

weekly_lessons/week_1/audio/old/
weekly_lessons/week_1/audio/wav/
# weekly_lessons/week_1/audio/*.wav

weekly_lessons/week_2/birdsong/
weekly_lessons/week_2/*.png
weekly_lessons/week_2/*.raw
weekly_lessons/week_2/Untitled*

weekly_lessons/week_3/not_yet/
